gym==0.22.0
h5py==2.10.0
Keras==2.13.1  # Updated Keras version compatible with TensorFlow 2.13.0
matplotlib==3.4.1
numpy==1.23.5  # Updated numpy version compatible with TensorFlow 2.13.0
pandas==1.2.3
tensorflow==2.13.0
torch==2.0.1
tensorboardx==2.4

